# Core deep learning framework
torch

# For data handling and tokenization
# transformers
# datasets

# For configuration files
PyYAML

# For evaluation metrics (optional, but common)
nltk
# sacrebleu
# sentence-transformers
rouge-score
bert-score
matplotlib
seaborn
pandas

# For progress bars
tqdm
